<div class="app">
  <div class="passenger" *ngFor="let passenger of passengers; let i = index">
    <span
      [ngClass]="{
        'checked-in': passenger.checkedIn,
        'checked-out': !passenger.checkedIn
      }"
    ></span>
    {{ i }}:{{ passenger.fullname }} :
    {{ passenger.checkInDate | date | uppercase }}
    <span
      [ngStyle]="{
        background: passenger.children?.length ? 'green' : 'red',
        color: 'white'
      }"
      ><ng-container
        *ngTemplateOutlet="
          children;
          context: { item: passenger.children?.length }
        "
        >{{ passenger.children?.length }}</ng-container
      ></span
    >
  </div>
  <ng-template #children let-item="item">
    <span> {{ item || 0 }}</span>
  </ng-template>
</div>
