.nav {
  margin: 0 0 20px 0;
  :not(first-child) {
    margin: 0 0 0 10px;
  }
  a {
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid blue;
    border-radius: 10%;

    &.active {
      background-color: lightpink;
      border-color: red;
    }
  }
}
